<!DOCTYPE html><html lang="pl">

<head>
  <%- include('./partials/head'); %>
</head>
<body>
  <section>
    <% if(typeof user=='undefined' ) { %>
        <%- include('./partials/navbar_not_logged'); %>
            <% } else{ %>
                <%- include('./partials/navbar_logged'); %>
                    <% } %>
</section>
<section class="container-fluid d-flex justify-content-center align-items-center bg-secondary py-4">

  <form action="/add/new" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Tytuł ogłoszenia:</label>
      <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Opis ogłoszenia:</label>
      <input type="textarea" name="description" class="form-control" id="description"required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Telefon:</label>
      <input type="text" name="phone" class="form-control" id="phone"required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Lokalizacja:</label>
      <input type="text" name="location" class="form-control" id="location"required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Cena:</label>
      <input type="text" name="price" class="form-control" id="price" required>
    </div>

    <div class="mb-3">
    <label for="category"  class="form-label">Wybierz kategorię:</label>
  <select id="category" name="category"class="form-select"  required>
    <option value="car">Motoryzacja</option>
    <option value="house">Nieruchomości</option>
    <option value="work">Praca</option>
    <option value="furniture">Dom i ogród</option>
    <option value="gaming">Elektronika</option>
    <option value="clothes">Moda</option>
    <option value="baby">Dla dzieci</option>
    <option value="sport">Sport</option>
    <option value="music">Muzyka</option>
    <option value="repair">Usługi</option>
    <option value="hotel">Noclegi</option>
    <option value="free">Za darmo</option>
  </select>
</div>

<div class="mb-3">
  <label for="image"  class="form-label">Dodaj zdjęcie (Tylko 1!):</label>
  <input class="form-control" type="file" id="image" 
                       name="image" value="" required>
</div>
            </div>
    <button type="submit" class="btn btn-primary">Wyślij</button>

  </form>
  <div class=" ms-5 mt-2 text-danger">
    <%- include ('./partials/messages') %>
</div>
</section>
<section>

  <%- include('./partials/footer'); %>

</section>
</body>
</html>